DATABASE_URL=postgresql://payflow:payflow@localhost:5432/payflow_payouts
PORT=3005
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=payout-service-cg
GATEWAY_SERVICE_URL=http://localhost:3004
LOG_LEVEL=info