# Server
PORT=3007
LOG_LEVEL=info

# Database
DATABASE_URL=postgresql://payflow:payflow@localhost:5432/payflow_notifications

# Redis
REDIS_URL=redis://localhost:6379

# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=notification-service-cg

# Services
TENANT_SERVICE_URL=http://localhost:3003